[package]
name = "fake"
version = "2.4.3"
authors = ["cksac <cs.cksac@gmail.com>"]
description = "An easy to use library for generating fake data like name, number, address, lorem, dates, etc."
keywords = ["faker", "data", "generator", "random"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/cksac/fake-rs"
homepage = "https://github.com/cksac/fake-rs"
edition = "2021"

[dependencies]
dummy = { version = "0.4", path = "../dummy_derive", optional = true }
rand = "0.8"
chrono = { version = "0.4", features = ["std"], optional = true, default-features = false }
http = { version = "0.2", optional = true }
semver = { version = "1", optional = true }
uuid = { version = "0.8", features = ["v1", "v3", "v4", "v5"], optional = true }

[dev-dependencies]
fake = { path = ".", features = ["derive"] }
proptest = "1.0.0"
rand_chacha = "0.3"

[features]
# Provide derive(Dummy) macros.
derive = ["dummy"]

[[example]]
name = "basic"
path = "examples/basic.rs"
required-features = ["derive"]

[[example]]
name = "derive"
path = "examples/derive.rs"
required-features = ["derive", "http", "chrono", "uuid"]

[[example]]
name = "usage"
path = "examples/usage.rs"
required-features = ["derive"]
