[package]
name = "fake"
version = "2.5.0"
authors = ["cksac <cs.cksac@gmail.com>"]
description = "An easy to use library for generating fake data like name, number, address, lorem, dates, etc."
keywords = ["faker", "data", "generator", "random"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/cksac/fake-rs"
homepage = "https://github.com/cksac/fake-rs"
edition = "2021"

[package.metadata.docs.rs]
all-features = true

[dependencies]
dummy = { version = "0.4", path = "../dummy_derive", optional = true }
rand = "0.8"
random_color = { version="0.6", optional = true }
chrono = { version = "0.4", features = ["std"], optional = true, default-features = false }
http = { version = "0.2", optional = true }
semver = { version = "1", optional = true }
uuid = { version = "1", features = ["v1", "v3", "v4", "v5"], optional = true }
time = { version = "0.3", features = ["formatting"], optional = true }
rust_decimal = { version = "1.25", optional = true }
bigdecimal_rs = { version = "0.3", package = "bigdecimal", optional = true }
sea-orm = { version = "0.8", optional = true }
zerocopy = { version = "0.6", optional = true }

[dev-dependencies]
chrono = { version = "0.4", features = ["clock"], default-features = false }
fake = { path = ".", features = ["derive"] }
proptest = "1.0.0"
rand_chacha = "0.3"

[features]
# Provide derive(Dummy) macros.
derive = ["dummy"]
bigdecimal = ["bigdecimal_rs", "rust_decimal"]

[[example]]
name = "basic"
path = "examples/basic.rs"
required-features = ["derive"]

[[example]]
name = "derive"
path = "examples/derive.rs"
required-features = ["derive", "http", "chrono", "uuid", "random_color", "rust_decimal", "sea-orm"]

[[example]]
name = "usage"
path = "examples/usage.rs"
required-features = ["derive"]
